/* Hi from the CSS! This is where all the awesome styles live. */
body {
    font-family: 'Montserrat', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fbf9f2;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    -ms-overflow-style: none;
    cursor: url('cursor-normal.cur'), default;
}

#randomFact {
    line-height: 1.6;
}

p {
    line-height: 1.6;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #282829;
        color: #e0e0e0;
    }

    header {
        box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
    }

    .carousel-container {
        box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
    }

    footer {
        box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
    }
    .mainGradient {
        background: linear-gradient(#0f0f0f, #282829);
    }
    .normal-link:hover {
        color: #FFBF00;
        transition: color 0.5s ease;
    }

    a:hover {
        color: #FFBF00;
        transition: color 0.5s ease;
    }

    .carousel-caption {
        background-color: rgba(0, 0, 0, 0.6);
    }

    .gallery-item {
        box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
    }

    .twitter-tweet {
        box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
    }

    .gallery-item .image-overlay {
        background-color: rgba(0, 0, 0, 0.6);
        color: #fff;
    }

    .mainimg {
        -webkit-filter: drop-shadow(6px 6px 6px #1f1f1f);
        filter: drop-shadow(6px 6px 6px #1f1f1f);
    }

    .yellowtext {
        color: #FFBF00;
    }

    .subscribe-section {
        background-color: #282829;
        box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
    }

    .email-input {
        box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
    }
}

@media (prefers-color-scheme: light) {
    body {
        color: #282829;
    }

    header {
        box-shadow: rgba(0, 0, 0, 0.477) 0px 1px 15px;
    }

    .carousel-container {
        box-shadow: rgba(0, 0, 0, 0.477) 0px 5px 15px;
    }

    footer {
        box-shadow: rgba(0, 0, 0, 0.477) 0px 5px 15px;
    }

    .mainGradient {
        background: linear-gradient(#0f0f0f, #fbf9f2);
    }

    .normal-link:hover {
        color: #F25337;
        transition: color 0.5s ease;
    }

    a:hover {
        color: #F25337;
        transition: color 0.5s ease;
    }

    .carousel-caption {
        background-color: rgba(255, 255, 255, 0.7);
    }

    .twitter-tweet {
        box-shadow: rgba(0, 0, 0, 0.477) 0px 5px 15px;
    }

    .gallery-item {
        box-shadow: rgba(0, 0, 0, 0.477) 0px 5px 15px;
    }

    .email-input {
        box-shadow: rgba(0, 0, 0, 0.477) 0px 5px 15px;
    }

    .gallery-item .image-overlay {
        background-color: rgba(256, 256, 256, 0.6);
        color: #282829;
    }

    .mainimg {
        -webkit-filter: drop-shadow(6px 6px 6px #1f1f1f);
        filter: drop-shadow(6px 6px 6px #cccccc);
    }

    .yellowtext {
        color: #cf9b00;
    }

    .email-input {
        box-shadow: rgba(0, 0, 0, 0.477) 0px 5px 15px;
    }
}

html {
    scrollbar-width: none;
}

body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
    display: none;
}

@media (max-width: 548px) {
    .titlebar-link-dev {
        display: none !important;
        animation: fadeOut 0.75s;
    }

    .titlebar-link-photo {
        display: none !important;
        animation: fadeOut 0.75s;
    }

    .short-text {
        display: all !important;
        animation: fadeIn 0.75s;
    }

    .short-text-dev {
        display: all !important;
        animation: fadeIn 0.75s;
    }

    .short-text-photo {
        display: all !important;
        animation: fadeIn 0.75s;
    }
}

@media (min-width: 549px) {
    .titlebar-link-dev {
        display: all !important;
        animation: fadeIn 0.75s;
    }

    .titlebar-link-photo {
        display: all !important;
        animation: fadeIn 0.75s;
    }

    .short-text-dev {
        display: none !important;
        animation: fadeOut 0.75s;
    }

    .short-text-photo {
        display: none !important;
        animation: fadeOut 0.75s;
    }
}

@media (max-width: 760px) {
    .short-text {
        display: all !important;
        animation: fadeIn 0.75s;
    }

    .titlebar-text {
        display: none !important;
        animation: fadeOut 0.75s;
    }
}

@media (min-width: 761px) {
    .titlebar-text {
        display: all !important;
        animation: fadeIn 0.75s;
    }

    .short-text {
        display: none !important;
        animation: fadeOut 0.75s;
    }
}

html {
    scroll-behavior: smooth;
    text-decoration: none;
}

a {
    color: #45A3D9;
    transition: color 0.5s ease;
    text-decoration: none;
    cursor: url('cursor-link.cur'), pointer !important;
}

a:hover {
    transition: color 0.5s ease;
    cursor: url('cursor-normal.cur'), default;
}

.form-message {
    margin-top: 10px;
    font-size: 16px;
    color: #4CAF50;
}

.form-message.error {
    color: #F25337;
}

.email-helper-text {
    font-size: 14px;
    margin-top: 5px;
    color: #e74c3c;
}

.email-helper-text.valid {
    color: #4CAF50;
}

input::placeholder {
    color: #282829;
}

input {
    color: #282829;
    background-color: #FFBF00;
    transition: background-color 0.5s ease;
    border: none;
    padding: 10px 8px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    font-weight: bold;
    border-radius: 20px;
    max-width: 400px;
    font-family: 'Montserrat', 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input:focus {
    background-color: #45A3D9;
    outline: none;
}

.mainimg {
    transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: url('cursor-pet.cur'), grab;
    z-index: 4;
}

.mainimg:hover {
    transform: rotate(-3deg) scale(1.02);
    cursor: url('cursor-pet.cur'), grab;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
text,
code,
pre {
    cursor: url('cursor-normal.cur'), default;
}

p {
    font-size: 18px;
    cursor: url('cursor-normal.cur'), default;
}

.main-h1 {
    font-size: 25px;
}

button {
    color: #282829;
    background-color: #45A3D9;
    transition: background-color 0.5s ease;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: url('cursor-link.cur'), pointer;
    border-radius: 20px;
}

button:hover {
    background-color: #FFBF00;
    transition: background-color 0.5s ease;
}

button>a {
    text-decoration: none;
    color: #fff;
    cursor: url('cursor-link.cur'), pointer;
}

button>a:hover {
    color: #fff;
    cursor: url('cursor-link.cur'), pointer;
}

span>p {
    cursor: url('cursor-link.cur'), pointer;
}

.aboutMe {
    width: 90vw;
    max-width: 700px;
    line-height: 1.7;
}

.twitter-tweet {
    max-width: 400px !important;
}


.xplore {
    background-color: #0f0f0f;
    margin-top: -40px;
    width: 100vw;
    color: #fff;
}

.mainGradient {
    width: 100vw;
    padding-bottom: 400px;
}

.footer-link {
    color: #282829;
}

.footer-link:hover {
    color: #F25337;
    transition: color 0.5s ease;
}

header {
    height: 56px;
    padding: 0 20px;
    color: #282829;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F25337;
    box-sizing: border-box;
}

.titlebar-text {
    font-size: 20px;
    line-height: 56px;
    margin: 0;
    padding: 0;
    color: #fff;
    vertical-align: middle;
}

.logo {
    height: 38px;
    margin-right: 8px;
    vertical-align: middle;
}

header nav ul li a {
    padding: 10px 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

header nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

header nav ul li:last-child {
    padding-right: 14px;
}


.slash {
    color: #fff;
    cursor: url('cursor-normal.cur'), default;
    animation: fadeIn 0.75s;
}

header nav {
    flex-grow: 1;
}

header nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 10px;
}

.normal-link {
    color: #45A3D9;
    transition: color 0.5s ease;
}

.titlebar-text,
.short-text {
    font-size: 20px;
    line-height: 1.2;
}

main {
    text-align: center;
    padding: 80px 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown {
    position: relative;
    display: flexbox;
    text-align: center;
}

.dropdown-content {
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px;
    background: #45A3D9;
    animation: headerAnimation 5s infinite;
    background-size: 200% 200%;
    text-align: center;
    border-radius: 5px;
    display: none;
    position: absolute;
    animation: fadeIn 0.75s;
    padding: 4px;
    min-width: 157px;
    z-index: 3;
}

header>nav>ul>li>a {
    animation: fadeIn 0.75s;
    cursor: url('cursor-link.cur'), pointer;
}

footer {
    cursor: url('cursor-normal.cur'), default;
}

footer>a:hover {
    cursor: url('cursor-link.cur'), pointer !important;
}

footer>p {
    animation: fadeIn 0.75s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

.dropdown-content a {
    color: #fff;
    text-decoration: none;
    display: flex;
    padding: 4px;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #00000074;
    border-radius: 5px;
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
}

footer {
    bottom: 0px;
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 3;
    color: #282829;
    background-color: #FFBF00;
    position: fixed;
}

main {
    flex: 1;
    text-align: center;
}

.logo {
    padding-right: 6px;
}

.short-text {
    font-size: 20px;
    color: #fff;
}

.titlebar-link-dev,
.titlebar-link-photo {
    font-size: 20px;
}

.titlebar-link-photo:hover,
.titlebar-link-dev:hover {
    font-size: 20px;
    animation: fadeIn 0.50s;
    color: #FFFFFF;
}

.short-text-dev,
.short-text-photo {
    font-size: 20px;
}

.short-text-dev:hover,
.short-text-photo:hover {
    font-size: 20px;
    animation: fadeIn 0.50s;
    color: #FFFFFF;
}

.titlebar-link-dev,
.short-text-dev,
.titlebar-link-photo,
.short-text-photo {
    font-size: 20px;
    color: #FFBF00;
    transition: color 0.5s ease;
}

.carousel {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.carousel-container {
    position: relative;
    max-width: 90vw;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
    max-height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-image {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255, 0.5);
    transition: background-color 0.5s ease;
    transition: color 0.5s ease;
    border: none;
    cursor: url('cursor-link.cur'), pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    width: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.carousel-prev:hover,
.carousel-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
}

@media (max-width: 600px) {
    .carousel-container {
        max-width: 100vw;
        border-radius: 10px;
    }

    .carousel-prev,
    .carousel-next {
        padding: 8px;
        font-size: 16px;
    }
}

.carousel-item {
    flex: 1 0 100%;
    position: relative;
}


.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 10px;
    padding: 5px 10px;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    transition: opacity 0.4s ease;
    opacity: 0;
}

.carousel-item:hover .carousel-caption {
    opacity: 1;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
}

.gallery-item {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    height: 300px;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease;
    border-radius: 10px;
}

.gallery-item .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
    cursor: url('cursor-link.cur'), pointer;
}

.gallery-item .image-overlay p {
    cursor: url('cursor-link.cur'), pointer;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 1.6;
}

.gallery-item .image-overlay.show {
    opacity: 1;
}

.gallery-item .gallery-image.dim {
    filter: brightness(0.5);
    transform: scale(1.05);
}

@media (max-width: 900px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .gallery-container {
        grid-template-columns: repeat(1, 1fr);
    }
}